
#container {
    min-width: 800px;
    width: 80%;
    margin: 0px auto;
}

header {
    height: 180px;
    border-bottom: 1px solid #00ff21;
}

nav {
    min-width: 140px;
    width: 15%;
    float: left;
    min-height: 500px;
    padding: 20px 5px 10px 10px;
}
