<<<<<<< HEAD
﻿

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

=======
﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



>>>>>>> 23adacf42692426e5a33825577685bbf0ccda4b5
