﻿@model Projekt.Models.UserScripts.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(u => u.Username, "Username *: ")
            </td>
            <td>
                @Html.TextBoxFor(u => u.Username)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(u => u.Password, "Password *: ")
            </td>
            <td>
                @Html.TextBoxFor(u => u.Password)
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center;" class="center">
                <br />
                <input type="submit" value="Abschicken" />
                <input type="reset" value="Abbrechen" />
            </td>
        </tr>
    </table>
}
