
@model Projekt.Models.UserScripts.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{

  <div class="login-box">

    <table>
        <thead>
            <tr>
                <td colspan="2">Login</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(u => u.Username, "Benutzername:* ")</td>
                <td>@Html.TextBoxFor(u => u.Username, new { required = "required" })</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(u => u.Password, "Passwort:* ")</td>
                <td>@Html.PasswordFor(u => u.Password, new { required = "required" })</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="absenden" id="btnSubmit" />
                    <input type="reset" value="absenden" id="btnReset" />
                </td>
            </tr>
        </tbody>
    </table>

    </div>

    }
