body {
    
}

#container {
    min-width: 900px;
    width: 100%;
}

header {
    height: 250px;
    background-size: 500px;
    background-size: cover;
    background-image: url(../Content/Media/Layout/berg.jfif);
}

nav {
    min-width: 140px;
    width: 15%;
    float: left;
    min-height: 500px;
    padding: 20px 5px 10px 10px;
}

content {
    min-width: 500px;
    width: 65%;
    float: left;
    min-height: 400px;
    padding: 10px 10px 10px 10px;
}

aside {
    min-width: 160px;
    width: 20%;
    float: right;
    min-height: 500px;
}

footer {
    clear: both;
    text-align: right;
    padding: 5px 10px;
}



.nav_level1 {
    padding-left: 10px;
    font-size: 1.2em;
    color: black;
    
}


.foot_level1 {
    font-size: 0.9em;
    letter-spacing: 5px;
    padding-right: 15px;
    display: inline;
   
}

.ParkImgImg {
    max-height: 500px;
    max-width:500px;
    padding-right: 50px;
}

.ParkTxt {
    text-decoration: none;
    color: black;
    font-size: 40px;
    max-width: 400px;
    position: absolute;
}


img {
    max-height: 400px;
    max-width:400px;
}

.Status {
    max-height: 200px;
    max-width: 200px;
}


.tableK {
    padding: 20px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
}

.Logo{
    max-width: 300px;
    max-height: 150px;
    float: left;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

.datahead {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif !important;
}

.data {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif !important;
}



