@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tbody>
        <tr>
            <td> 
                <a class="ParkImg" data-text="Betterpark Hintertux" href="#">
                    <img height="300px" width="400px" src="../Media/Images/Betterpark Hintertux/Betterpark.jpg">
                    <span style="display:none">Betterpark Hintertux</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Golden Roofpark Axamer Lizum/Golden Roofpark.jpg">
                    <span style="display:none">Golden Roofpark Axamer Lizum</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Ischgl Snowpark/Ischgl Snowpark.jpg">
                    <span style="display:none">Ischgl Snowpark</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Kaunertaler Snowpark/Kaunertaler Snowpark.jpg">
                    <span style="display:none">Kaunertaler Snowpark</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Nordkette Skylinepark/Skylinepark.jpg">
                    <span style="display:none">Skylinkepark Nordkette</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Penken Park Mayrhofen/Penken Park.jpg" />
                    <span style="display:none">Penken Park Mayrhofen</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Snowpark Kitzbühel/Snowpark Kitzbühel.jpg" />
                    <span style="display:none">Snowpark Kitzbühel</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/Snowpark Sölden/Snowpark Sölden.jpg" />
                    <span style="display:none">Snowpark Sölden</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img src="../Media/Images/St. Anton Snowpark/St. Anton Snowpark.jpg" />
                    <span style="display:none">St. Anton Snowpark</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="ParkImg" href="#">
                    <img height="200" src="../Media/Images/Stubaier Zoo/Stubaier Zoo.jpg" />
                    <span style="display:none">Stubaier Zoo</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

