@model List<Projekt.Models.Park>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tbody>
        <tr>
            <td class="ParkImgImg">
                <a class="ParkImg" style="text-decoration: none" href="/Park/ShowOnePark?id=1">
                    <img class="ParkImgImg" height="400px" width="500px" src="../Content/Media/Images/Betterpark Hintertux/BetterparkHintertux.jpg">
                    <p class="ParkTxt" style="display:none;">Betterpark Hintertux</p>
                </a>
            </td>
            <td>
                @if (Model[0].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=2">
                    <img class="ParkImgImg" src="../Content/Media/Images/Golden Roofpark Axamer Lizum/Golden Roofpark.jpg">
                    <p class="ParkTxt" style="display:none;">Golden Roofpark Axamer Lizum</p>
                </a>
            </td>
            <td>
                @if (Model[1].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=3">
                    <img class="ParkImgImg" src="../Content/Media/Images/Ischgl Snowpark/Ischgl Snowpark.jpg">
                    <p class="ParkTxt" style="display:none">Ischgl Snowpark</p>
                </a>
            </td>
            <td>
                @if (Model[2].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none;" class="ParkImg" href="/Park/ShowOnePark?id=4">
                    <img class="ParkImgImg" src="../Content/Media/Images/Kaunertaler Snowpark/Kaunertaler Snowpark.jpg">
                    <p class="ParkTxt" style="display:none">Kaunertaler Snowpark</p>
                </a>
            </td>
            <td>
                @if (Model[3].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=5">
                    <img class="ParkImgImg" src="../Content/Media/Images/Nordkette Skylinepark/Skylinepark.jpg">
                    <p class="ParkTxt" style="display:none">Skylinkepark Nordkette</p>
                </a>
            </td>
            <td>
                @if (Model[4].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=6">
                    <img class="ParkImgImg" src="../Content/Media/Images/Penken Park Mayrhofen/Penken Park.jpg" />
                    <p class="ParkTxt" style="display:none">Penken Park Mayrhofen</p>
                </a>
            </td>
            <td>
                @if (Model[5].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=7">
                    <img class="ParkImgImg" src="../Content/Media/Images/Snowpark Kitzbühel/Snowpark Kitzbühel.jpg" />
                    <p class="ParkTxt" style="display:none">Snowpark Kitzbühel</p>
                </a>
            </td>
            <td>
                @if (Model[6].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=8">
                    <img class="ParkImgImg" src="../Content/Media/Images/Snowpark Sölden/Snowpark Sölden.jpg" />
                    <p class="ParkTxt" style="display:none">Snowpark Sölden</p>
                </a>
            </td>
            <td>
                @if (Model[7].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=9">
                    <img class="ParkImgImg" src="../Content/Media/Images/St. Anton Snowpark/St. Anton Snowpark.jpg" />
                    <p class="ParkTxt" style="display:none">St. Anton Snowpark</p>
                </a>
            </td>
            <td>
                @if (Model[8].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="/Park/ShowOnePark?id=10">
                    <img class="ParkImgImg" height="200" src="../Content/Media/Images/Stubaier Zoo/Stubaier Zoo.jpg" />
                    <p class="ParkTxt" style="display:none">Stubaier Zoo</p>
                </a>
            </td>
            <td>
                @if (Model[9].Open == 1)
                {
                    <img class="Status" src="../Content/Media/Images/Status/Offen.png" />
                }
                else
                {
                    <img class="Status" src="../Content/Media/Images/Status/Geschlossen.png" />
                }
            </td>
        </tr>
    </tbody>
</table>


