@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tbody>
        <tr>
            <td class="ParkImgImg"> 
                <a class="ParkImg" style="text-decoration: none" href="#">
                    <img class="ParkImgImg" height="400px" width="500px" src="../Media/Images/Betterpark Hintertux/Betterpark.jpg">
                    <p class="ParkTxt" style="display:none;">Betterpark Hintertux</p>
                </a>
            </td>
            <td>
                <img class="Status" src="../Media/Images/Status/Offen.png" />
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Golden Roofpark Axamer Lizum/Golden Roofpark.jpg">
                    <p class="ParkTxt" style="display:none;">Golden Roofpark Axamer Lizum</p>
                </a>
            </td>
            <td>
                <img class="Status" src="../Media/Images/Status/Geschlossen.png" />

            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Ischgl Snowpark/Ischgl Snowpark.jpg">
                    <p class="ParkTxt" style="display:none">Ischgl Snowpark</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none;" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Kaunertaler Snowpark/Kaunertaler Snowpark.jpg">
                    <p class="ParkTxt" style="display:none">Kaunertaler Snowpark</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Nordkette Skylinepark/Skylinepark.jpg">
                    <p class="ParkTxt" style="display:none">Skylinkepark Nordkette</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Penken Park Mayrhofen/Penken Park.jpg" />
                    <p class="ParkTxt" style="display:none">Penken Park Mayrhofen</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Snowpark Kitzbühel/Snowpark Kitzbühel.jpg" />
                    <p class="ParkTxt" style="display:none">Snowpark Kitzbühel</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/Snowpark Sölden/Snowpark Sölden.jpg" />
                    <p class="ParkTxt" style="display:none">Snowpark Sölden</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" src="../Media/Images/St. Anton Snowpark/St. Anton Snowpark.jpg" />
                    <p class="ParkTxt" style="display:none">St. Anton Snowpark</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="ParkImgImg">
                <a style="text-decoration: none" class="ParkImg" href="#">
                    <img class="ParkImgImg" height="200" src="../Media/Images/Stubaier Zoo/Stubaier Zoo.jpg" />
                    <p class="ParkTxt" style="display:none">Stubaier Zoo</p>
                </a>
            </td>
        </tr>
    </tbody>
</table>


