@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<img src="../Media/Images/Betterpark Hintertux/Betterpark.jpg" />
<img src="../Media/Images/Golden Roofpark Axamer Lizum/Golden Roofpark.jpg" />
<img src="../Media/Images/Ischgl Snowpark/Ischgl Snowpark.jpg" />
<img src="../Media/Images/Kaunertaler Snowpark/Kaunertaler Snowpark.jpg" />
<img src="../Media/Images/Nordkette Skylinepark/Skylinepark.jpg" />
<img src="../Media/Images/Penken Park Mayrhofen/Penken Park.jpg" />
<img src="../Media/Images/Snowpark Kitzbühel/Snowpark Kitzbühel.jpg" />
<img src="../Media/Images/Snowpark Sölden/Snowpark Sölden.jpg" />
<img src="../Media/Images/St. Anton Snowpark/St. Anton Snowpark.jpg" />
<img src="../Media/Images/Stubaier Zoo/Stubaier Zoo.jpg" />

